<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" class="content-footer">

    <nav class="footer-right">
        <ul class="nav">
            <li>
                <a href="javascript:;">feedback</a>
            </li>
            <li>
                <a href="javascript:;" class="scroll-up">
                    <i class="fa fa-angle-up"></i>
                </a>
            </li>
        </ul>
    </nav>

    <nav class="footer-left">
        <ul class="nav">
            <li>
                <a href="javascript:;">Copyright <i class="fa fa-copyright"></i> <span>my love</span> </a>
            </li>
            <li>
                <a href="http://www.zibangjinfu.com.cn/" target="_blank">mylove</a>
            </li>
            <li>
                <a href="http://www.txslicai.com.cn/?hmsr=zlcz" target="_blank">
                    lucoo
                </a>
            </li>
        </ul>
    </nav>

</footer>
